* {
  margin: 0;
  padding: 0;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
  border-color: rgb(216, 224, 234);
  border-style: solid;
  border-radius: 8px;
  text-align: center;
}
.stats {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.stats li {
  width: 33.3334%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(243, 246, 249);
  border: 1px;
  border-style: solid;
  border-color: rgb(228, 233, 240);
}
.stats li:nth-child(1) {
  border-left: 0;
}
.avatar {
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.name {
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(18, 34, 54);
}
.tag {
  margin-bottom: 10px;
  color: rgb(118, 134, 150);
}
.location {
  margin-bottom: 30px;
  color: rgb(118, 134, 150);
}
.label {
  color: rgb(118, 134, 150);
}
.quantity {
  font-weight: 700;
  color: rgb(31, 51, 73);
}
