.list {
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-width: 600px;
  margin-bottom: 100px;
}

.item {
  margin: auto;
  margin-top: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  display: flex;
  align-items: center;
}
